${
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

#page{
    width : 500px;
    min-width: 390px;
    height : 600px;
    background : #fff;
    padding : 25px;
    margin : 20px auto;
    box-shadow: 0 3px white;
}

#chatlogs{
    padding : 10px;
    width : 100%;
    height : 450px;
    background: #eee;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#divauteur{
    width : 470px;
    min-width: 390px;
	background-color:  #b6b6b6;
	padding-left: 10%;
	padding-bottom: 3%;
	padding-top: 2%;
    border : 1px solid black;
}


#textAreaMessage{
	background-color:  #f9f9f9;
	border : 1px solid black;
    border-radius: 3px;
	border-radius: 5px;
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
    width : 75%;
    height : 50px;
    resize : none;
    font-size : 16px;
}

#ecrireMessage{
    width : 485px;
    min-width: 390px;
	background-color:  #b2b2b2 ;
	padding-left: 7%;
	padding-bottom: 3%;
    padding-top: 3%;
	border : 1px solid black;
    display: flex;
    align-items: flex-start;
}

#envoyer{
	background-color: white;
  	color: black;
 	border: 2px solid #4771d2; 
  	transition-duration: 0.4s;
  	width: 75px;
  	height: 60px;
  	border-radius: 5px;
    padding : 5px 15px;
    margin-left : 18px;
}

#envoyer:hover {
  background-color: #4771d2; 
  color: white;
}


#message{
	border-top: 1px dashed black;
	padding-top: 1%;
	padding-bottom : 2%;
	padding-left: 2%;
    background-color:  #f9f9f9;
}

#horaire{
	font-size: 0.7em;
}
